<footer>
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">

          <ul>
            <li><a href="{{ site.baseurl }}/about/privacy.html">Privacy policy and legal notices</a></li>
            <li><a href="{{ site.baseurl }}/about/accessibility-statement.html">Accessibility</a></li>
            <li><a href="{{ site.baseurl }}/about/plain-writing.html">Plain writing</a></li>
            <li><a href="{{ site.baseurl }}/about/no-fear-act.html">No FEAR Act</a></li>
            <li><a href="{{ site.baseurl }}/about/foia.html">FOIA</a></li>
          </ul>

        </div>
        <div class="col-sm-6">

          <ul>
            <li><a href="{{ site.baseurl }}/about/privacy.html">Contact us</a></li>
            <li><a href="{{ site.baseurl }}/about/accessibility-statement.html">Jobs</a></li>
            <li><a href="{{ site.baseurl }}/about/oig.html">Office of Inspector General</a></li>
            <li><a href="{{ site.baseurl }}/about/no-fear-act.html">Ombudsman</a></li>
            <li><a href="{{ site.baseurl }}/open/">Open Government</a></li>
          </ul>
        
        </div>
      </div>
    </div>
  </div>
</footer>

