---
layout: default
---

    <div class="container" role="main">

    <header>
      <div class="blog-header">
        <h1 class="blog-title">{{ page.title }}</h1>
        <p class="lead blog-description">The official example template of creating a blog with Bootstrap.</p>
        <p class="blog-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
      </div>
    </header>

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">

            {{ content }}

          </div><!-- /.blog-post -->

          <nav>
            <ul class="pager">
              <li><a href="#">Previous</a></li>
              <li><a href="#">Next</a></li>
            </ul>
          </nav>

        </div><!-- /.blog-main -->

        {% include blog_sidebar.html %}

      </div><!-- /.row -->

    </div><!-- /.container -->